<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2016 Google Inc. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.footballer">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To enable app invites -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To geotag new posts with current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- To get pictures from camera for new posts -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".JoinCommunityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ChooseUserTypeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".FieldsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".FieldDetailPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".FieldDetailOwnerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".ProfileEditActivity"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".AboutUsActivity"
            android:label="About us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".LoadingActivity"
            android:label="Footballer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="Maps"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".OrderActivity"
            android:label="Payment"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".OrderConfirmActivity"
            android:label="Confirmation"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".FieldsLocationFilterActivity"
            android:label="Confirmation"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".AddFieldActivity"
            android:label="Confirmation"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".EditFieldActivity"
            android:label="Confirmation"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="Schedule"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".AvailabilityActivity"
            android:label="Availability"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".ReservationDetailActivity"
            android:label="Reservation"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>